<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hft Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" href="style.css"/>

<body>

<div th:unless="${#lists.isEmpty(students)}">    
    <table>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Specialization</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.Id}"/>
            <td th:text="${student.name}"/>
            <td th:text="${student.Specialization}"/>
            <td>
                <form method="POST" th:action="@{/delete}">
                    <input type="hidden" name="todo" th:value="${student.Id}" />
                    <input type="submit" value="Delete Student"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(students)}">
    <table>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Specialization</th>
        </tr>
        <tr>
            <td>None</td>
            <td>None</td>
            <td>None</td>
        </tr>
    </table>
</div>

<div>
    <h1>ToDo list</h1>
    <form method="POST" th:action="@{/create}">
        <label>Id</label>
        <input type="text" name="id" th:value="${Id}" />
        <label for="newstudent">Add new student</label>
        <input type="text" name="newStudent" th:value="${newStudent}" />
        <label>Specialization</label>
        <input type="text" name="specialization" th:value="${specialization}" />
        <input type="submit" value="Add !">
    </form>
</div>

</body>